* {
  box-sizing: border-box;
  outline: none;
  user-select: none;
}

body {
  background-color: #8fb4e0;
}

.hidden {
  display: none !important;
}

.container {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 60%;
  max-width: 1050px;
}

.username {
  display: flex;
  align-items: center;
  margin-top: 100px;
}

.username__text {
  font-size: 25px;
  font-weight: bold;
  margin-right: 10px;
  color: #fff;
}

.username__input {
  height: 30px;
  width: 200px;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid #fff;
  font-size: 20px;
  color: #fff;
}

.container__start {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container__score {
  text-align: center;
  color: #fff;
  font-size: 32px;
}

.container__score_failed {
  color: #c70000;
}

.container__buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.btn {
  font-size: 18px;
  height: 60px;
  width: 250px;
  margin: 15px;
  color: #fff;
  background-color: #434c5b;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.btn:hover {
  background-color: #ccc;
  color: #000;
}

.btn__finish,
.btn__reset {
  background-color: #2b303a;
  height: 50px;
  width: 200px;
}

.btn__finish {
  position: relative;
  left: 0;
  top: 0;
  transform: rotate(0deg);
  transition: 0.1s;
}

.btn__start {
  background-color: #f78c28;
  height: 75px;
  font-size: 35px;
}

.btn__start:hover {
  background-color: #e66f00;
  color: #fff;
}

.btn__start[disabled] {
  background-color: #ccc;
}

.navigation {
  display: flex;
  justify-content: center;
  height: 90%;
}

.container__winner-text {
  position: absolute;
  top: 400px;
  left: 50%;
  transform: translate(-50%, 0);
  font-size: 36px;
  color: #fff023;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  margin-top: 15px;
}
